.logo {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  align-items: center;
  text-decoration: none;
  background: var(--color);
  color: var(--background);
  padding: 6px 14px;

  &__hat {
    font-size: 1rem;
    border-bottom: 2px solid var(--background);
  }

  &__text {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
